<mat-accordion class="example-headers-align">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)"  hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          
          <mat-panel-description>
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="Enter Your Name" formControlName="name" required>
          <mat-error *ngIf="registerForm.controls.name.invalid">Please Enter Your Name</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter Your Email" formControlName="email" required>
          <mat-error *ngIf="registerForm.controls.email.errors?.required">Please Enter Your Email</mat-error>
          <mat-error *ngIf="registerForm.controls.email.hasError('email')">This is a Invalid Email</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Create Your Password" formControlName="pass" required [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="registerForm.controls.pass.errors?.required">Please Create Your Password</mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Confirm Your Password" (keypress)="checkPassword()" formControlName="confirmPass" required (keyup)="checkPassword()">
        </mat-form-field>
        <mat-error *ngIf="misMatch">Password Do Not Match</mat-error> <!-- We need to Write OutSide the Mat-form-Field -->

        <mat-form-field>
          <input matInput placeholder="Enter Mobile Number" formControlName="mobile" minlength="10" maxlength="10" required numbersOnly>
          <mat-error *ngIf="registerForm.controls.mobile.errors?.required">Mobile Number is Required</mat-error>
          <mat-error *ngIf="registerForm.controls.mobile.errors?.minlength || registerForm.controls.mobile.errors?.maxlength">Mobile Number Must be 10 digits Only</mat-error>
          <mat-error *ngIf="registerForm.controls.mobile.errors?.pattern">Numbers Only allowed</mat-error>
        </mat-form-field>
        <mat-action-row>
            <button mat-button color="primary" [disabled]="registerForm.invalid" (click)="nextStep()">Next</button>
          </mat-action-row>
      </mat-expansion-panel>
    </form>




    <form [formGroup]="registerForm1" (ngSubmit)="onSubmit()">
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Education Details 
            </mat-panel-title>
            <mat-panel-description>
              Mention your address Details
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
              <mat-label>Enducation Details</mat-label>
              <mat-select formControlName="education" required (selectionChange)="getOptions($event.value)">
                <mat-option>select one Option</mat-option>
                <mat-option *ngFor="let education of educations" [value]="education.value">
                  {{education.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="registerForm1.controls.education.errors?.required">Please Select One Option</mat-error>
            </mat-form-field>

            <mat-form-field>
              <textarea matInput placeholder="Enter Your Address" minlength="20" formControlName="address" required></textarea>
              <mat-error *ngIf="registerForm1.controls.address.errors?.required">Please Enter Your Address</mat-error>
            </mat-form-field>

            <section>
              <mat-radio-group formControlName="gender" required>
                <mat-label> Gender : </mat-label>
                <mat-radio-button class="radio-margin" value="male">Male</mat-radio-button>
                <mat-radio-button class="radio-margin" value="female">Female</mat-radio-button>
              </mat-radio-group>
            </section>

            <section>
              <mat-label> Hobbies : </mat-label>
              <mat-checkbox class="checkbox-margin" value="games" formControlName="game" #game>Playing Games</mat-checkbox>
              <mat-checkbox class="checkbox-margin" value="movies" formControlName="movie" #movie>Watching Movies</mat-checkbox>
            </section>

          <mat-action-row>
            <button mat-button color="warn"  (click)="prevStep()">Previous</button>
            <button mat-button color="primary" [disabled]="registerForm1.invalid" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
    </form>






    <form [formGroup]="registerForm2" (ngSubmit)="onSubmit()">
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Day Of Birth
            </mat-panel-title>
            <mat-panel-description>
              Inform that i will Accept all the conditions 
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose Your Date Of Birth" formControlName="dob" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="registerForm2.controls.dob.errors?.required">Please Choose Your Date Of Birth</mat-error>
            </mat-form-field>

            <div>
              <mat-checkbox class="checkbox-margin" #isChecked>Accept Terms and Conditions</mat-checkbox>
            </div>

            <div>
              <!-- <button class="btn btn-success" [disabled]="!registerForm2.valid || !isChecked.checked ">Register</button> -->
            </div>
        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" [disabled]="!registerForm2.valid || !isChecked.checked " (click)="nextStep()" (click)="getdata($event)">End</button>
          </mat-action-row>
        </mat-expansion-panel>
  </form>

</mat-accordion>

<!-- <mat-card>
  {{Name}}<br>
  {{Email}}<br>
  {{Pass}}<br>
  {{Mobile}}<br>
  {{Address}}<br>
  {{Gender}}<br>
  {{GAME}}<br>
  {{MOVIE}}<br>
  {{DOB}}
</mat-card> -->

<table>
  <tr>
    <th>name</th>
    <th>email</th>
    <th>password</th>
    <th>mobile</th>
    <th>address</th>
    <th>gender</th>
  </tr>
  <tr>
    <td>{{Name}}</td>
    <td>{{Email}}</td>
    <td>{{Pass}}</td>
    <td>{{Mobile}}</td>
    <td>{{Address}}</td>
    <td>{{Gender}}</td>
  </tr>
</table>