.header {
    position: relative;
    left: 30%;
 }
 mat-form-field {
     width: 100%;
 }
 .radio-margin, .checkbox-margin {
     margin: 0 10px;
 }
 table,th,td{
     border:2px solid red;
     border-collapse: collapse;
 }