<div mat-dialog-content>
    <h3 class="text-center text-primary">Create Your Row</h3>
    <mat-form-field>
      <input matInput [(ngModel)]="position" placeholder="Enter Position No">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="Enter Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="weight" placeholder="Enter Weight">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="symbol" placeholder="Enter Symbol">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button class="ml-5 text-right text-success" mat-button [mat-dialog-close]="1" cdkFocusInitial>Create</button>
  </div>

