.example-container {
    display:block;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .example-card {
    max-width: 100%;
  }
  ul{
    list-style-type:none;
    text-align: center;
    background: pink;
  }
  li{
    display: inline;
    padding:1rem;
    
  }
/* .container{
    display: flex;
    justify-content: center;
} */