<div class="bg-success">
    <h1 class="text-center text-warning"><i>ANGULAR MATERIAL PRACTICES</i></h1>
    <nav>
        <ul>
            <li><a routerLink="login">LogIn</a></li>
            <li><a routerLink="register">Register</a></li>
            <li><a routerLink="layout">MaterialLayouts</a></li>
            <li><a routerLink="btnIndicator">BtnsIndicators</a></li>
            <li><a routerLink="modals">ModalsPopups</a></li>
            <li><a routerLink="dataTables">DataTables</a></li>
        </ul>
    </nav>
</div>

<div class="conatiner mt-3">
    <router-outlet></router-outlet>
</div>
